#tekst{
    margin-left: 170px;
}

.indledning{
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: center;
    
}

.indledning img{
    box-sizing: border-box;
    height: 300px;
    border: solid 6px #ffffff;
    border-radius: 5px;
}

.indledning p{
    display: inline-flex;
    color: #000000;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    align-items: center;
    line-height: 40px;
    width: 600px;
}

.kort-container{
    display: flex;
    justify-content: center;  /* Centrerer kortene horisontalt */
    gap: 32px;                /* Afstand mellem kortene */
    padding: 20px;   
}

.kort{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 400px;
    padding: 34px 18px;
    gap: 32px;
 }

.kort img{
    box-sizing: border-box;
    height: 250px;
    width: 280px;
    border: solid 6px #ffffff;
    border-radius: 5px;
}
.kort h2{
    margin-top: 30px;
    color: #ffffff;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.kort a{
    text-decoration: none;
}
.kort a:hover{
    text-decoration: none;
}

.kort1{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #F65A89;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
}

.kort2{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #F65A89;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 350px;
    width: 700px;
    align-items: center;
    
}
.kort2 img:first-child{
    box-sizing: border-box;
    height: 250px;
    width: 280px;
    border: solid 6px #ffffff;
    border-radius: 5px;
   
}

.kort2 p{
    text-align: left;
    margin-left: 45px;
    margin-right: 40px;
    margin-bottom: 20px;
    color:#ffffff;
}

.arrow{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.arrow img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

/*containeren som holder de to kolonner */
.content-container {
    display: flex;
    justify-content: space-between;  /* Gør så de to div'er står i hver sin side */
    gap: 20px;                      /* Afstand mellem kolonnerne */
    width: 70%;                      /* Giver containeren 80% af skærmbredden */
    margin: 0 auto;                  /* Centrerer containeren på skærmen */
    padding: 50px 0;                 /* Giver lidt luft på toppen og bunden */
}

.content-container img{
    box-sizing: border-box;
    height: 400px;
    width: 100%;  /* Billedet fylder nu hele bredden af sin kolonne */
    border: solid 6px #ffffff;
    border-radius: 5px;
}

.content-container h4{
    font-size: 25px;
}

.content-container ol{
    font-size: 16px;
    color: #000000;
    line-height: 40px;
}

.left-column {
    width: 40%;  /* Giver denne div næsten halvdelen af bredden */
    box-sizing: border-box;  /* Sørger for at padding og border er inkluderet i bredden */
}

.right-column {
    width: 40%;  /* Giver denne div næsten halvdelen af bredden */
    box-sizing: border-box;  /* Sørger for at padding og border er inkluderet i bredden */
}


#hero{
    display: flex;
    width: 100%; /*sætter en størrelse for vores hero boks*/
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#hero img{
    width: 80%; /*sætter en størrelse for vores hero boks*/
    height: 500px;
    object-fit: cover;
    z-index: 0;
    margin-top: 50px;
}

.intro{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
.intro p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 40px;
}

.intro2{
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
}
.intro2 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.intro2 h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}

/*pile i bunden af skæremn*/

.pil-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.pil-container a{
    text-decoration: none;
}

.venstre_pil, .højre_pil{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    gap:5px;
}


.venstre_pil img, .højre_pil img{
    box-sizing: border-box;
    height: 30px;
}

.venstre_pil h4{
    display: inline-flex;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    width: 200px;
    padding-left:20px;
}
.højre_pil h4{
    display: inline-flex;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    width: 200px;
    padding-left: 60px;
}

.venstre_pil img, .højre_pil img{
    box-sizing: border-box;
    height: 30px;
}

/*video tutorials*/

.tutorial-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding: 60px;
}

/*værktøj*/

.værktøj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 50px;
    margin-left: 120px;
    margin-right: 120px;
}

.værktøj img{
    box-sizing: border-box;
    height: 350px;
    width: 350px;
    border: solid 2px #000000;
    border-radius: 5px;
}

.værktøj p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.værktøj h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*søgefelt*/

.search-form {
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    width: 250px;
    margin-left: 1090px;
}

.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    flex-grow: 1;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.search-button:hover {
    color: #F65A89;
}

/*om os*/

.omos-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.omos-container img{
    box-sizing: border-box;
    height: 280px;
    width: 280px;
    border: solid 6px #ffffff;
    border-radius: 5px;
}

.omos-container a{
    text-decoration: none;
}

.omos-container h2{
    margin-top: 30px;
    color: #ffffff;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.omos-container h3{
    margin-top: 140px;
    color: #000000;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;  
    font-weight: bold;
    text-align: center;
}

.omos-billeder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-left: 120px;
    margin-right: 120px;
}

.omos-billeder img{
    box-sizing: border-box;
    width: 280px;
}
