@font-face {
    font-family: 'just-another-hand-regular';
    src: url(fonts/JustAnotherHand-Regular.ttf) format('truetype');
}
  
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #FFD4E1;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


h1{
    font-family: 'just-another-hand-regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 62px;
    text-align: center;
    color: #F65A89;
}
h2{
    color: #F65A89;
    margin-left: 170px;
    font-family: 'just-another-hand-regular';
    font-size: 64px;
}
h3{
    color: #FB9958;
    margin-left: 170px;
    font-family: 'just-another-hand-regular';
    font-size: 64px;
    font-weight: 200;
}
h4{
    color: #F65A89;
}
h5{
    color: #F65A89;
    font-size: 20px;
    font-weight: bold;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 40px;

}



/*inspirations kort*/

.inspirationskort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 34px 18px;
    gap: 32px;
    width: calc(100% - 300px); /* Giver 150px plads på hver side af containeren */
    margin: 0 auto; /* Centrerer containeren */
 }

.inspirationskort img:first-child{
    box-sizing: border-box;
    height: 300px;
    width: 280px;
    margin: 0;
    padding: 0;
}

.indreinspirationskort {
    display: flex;
    flex-direction: column; /* Sørg for at billederne i hver div bliver vist lodret */
    justify-content: flex-start; /* Sørg for at billederne ikke strækkes */
}

.dots{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    align-self: flex-end; /* Sørger for at billedet er til højre */
}

/*inspiration hovereffect*/

.inspirationskort2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 34px 18px;
    gap: 35px;
    width: calc(100% - 300px); /* Giver 150px plads på hver side af containeren */
    margin: 0 auto; /* Centrerer containeren */
 }

.inspirationskort2 img:first-child{
    box-sizing: border-box;
    height: 380px;
    width: 340px;
    margin: 0;
    padding: 0;
}

.indreinspirationskort2 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dots2 {
    position: absolute;
    right: 0; 
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
}

.dots-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
}


.dots2:hover {
    transform: scale(1.2); /* Forstørrer billedet, når man hover over det */
}

/* Dropdown container (skjult som standard) */
.dropdown2 {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    color:#000000;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
    margin: 10px;
    z-index: 10;
}

/* Når man hover over dots2, vises dropdown-menuen */
.dots-container:hover .dropdown2 {
    display: block;
}

.dropdown2 p{
    margin: 0;
    padding: 0;
}

.dropdown2 ul {
    list-style:disc;
    padding-left: 20px; 
    margin: 0;
}

.dropdown2 li {
    padding: 5px 0; /* Sørger for lidt luft mellem elementerne */
}
